PORT=4003
SERVICE_NAME=Auth-Service

DATABASE_URL=postgresql://postgres:postgres@localhost:5433/auth?schema=public

JWT_SECRET=replace-with-a-long-random-jwt-secret
INTERNAL_GATEWAY_SECRET=replace-with-a-long-random-secret

USER_SERVICE_URL=http://localhost:4004
EMAIL_SERVICE_URL=http://localhost:4005

QUEUE_URL=amqp://guest:guest@localhost:5672
EMAIL_EXCHANGE=email.events
