PORT=4007
SERVICE_NAME=Order-Service

DATABASE_URL=postgresql://postgres:postgres@localhost:5433/order?schema=public

INTERNAL_GATEWAY_SECRET=replace-with-a-long-random-secret

CART_SERVICE_URL=http://localhost:4006
EMAIL_SERVICE_URL=http://localhost:4005
PRODUCT_SERVICE_URL=http://localhost:4001

QUEUE_URL=amqp://localhost

